@tailwind base;
@tailwind components;
@tailwind utilities;
html,body,#root{min-height:100%;margin:0}body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}::selection{background:#ff665a;color:#111713}*{border-color:rgba(17,23,19,.16)}